<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/flex 
	http://www.springframework.org/schema/flex/spring-flex-1.0.xsd">

	<!-- 入库报告单 -->
	<bean id="materialAcctReceiveImpl" class="cn.superion.materialAcct.daily.service.ReceiveImpl">
		<property name="materialRdsMasterDAO" ref="materialRdsMasterDAO" />
		<property name="materialRdsDetailDAO" ref="materialRdsDetailDAO" />
		<property name="materialRdsAcctMasterDAO" ref="materialRdsAcctMasterDAO" />
		<property name="materialAcctCurrentRcptNoDAO" ref="materialAcctCurrentRcptNoDAO" />
		<property name="materialCurrentStockDAO" ref="materialCurrentStockDAO" />
		<property name="cdSysParamDAO" ref="cdSysParamDAO" />
		<property name="cdMaterialDictDAO" ref="cdMaterialDictDAO" />
		<property name="vMaterialPatsDAO" ref="vMaterialPatsDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 出库报告单 -->
	<bean id="materialAcctDeliverImpl" class="cn.superion.materialAcct.daily.service.DeliverImpl">
		<property name="materialRdsMasterDAO" ref="materialRdsMasterDAO" />
		<property name="materialRdsDetailDAO" ref="materialRdsDetailDAO" />
		<property name="materialRdsAcctMasterDAO" ref="materialRdsAcctMasterDAO" />
		<property name="materialAcctCurrentRcptNoDAO" ref="materialAcctCurrentRcptNoDAO" />
		<property name="materialCurrentStockDAO" ref="materialCurrentStockDAO" />
		<property name="cdSysParamDAO" ref="cdSysParamDAO" />
		<property name="cdDeptDictDAO" ref="cdDeptDictDAO" />
		<property name="materialPatsMasterDAO" ref="materialPatsMasterDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 调价报告单 -->
	<bean id="materialAcctChangeImpl" class="cn.superion.materialAcct.daily.service.ChangePriceImpl">
		<property name="materialChangePriceMasterDAO" ref="materialChangePriceMasterDAO" />
		<property name="materialChangePriceDetailDAO" ref="materialChangePriceDetailDAO" />
		<property name="cdSysParamDAO" ref="cdSysParamDAO" />
		<property name="materialCurrentStockDAO" ref="materialCurrentStockDAO" />
		<property name="materialAcctCurrentRcptNoDAO" ref="materialAcctCurrentRcptNoDAO" />
		<property name="cdMaterialDictDAO" ref="cdMaterialDictDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 当前库存统计 -->
	<bean id="materialAcctCurrentStockStatImpl"
		class="cn.superion.materialAcct.stat.service.CurrentStockStatImpl">
		<property name="materialCurrentStockDAO" ref="materialCurrentStockDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 出库报告单列表 -->
	<bean id="materialAcctDeliverListImpl" class="cn.superion.materialAcct.stat.service.DeliverListImpl">
		<property name="materialRdsAcctMasterDAO" ref="materialRdsAcctMasterDAO" />
		<property name="materialRdsDetailDAO" ref="materialRdsDetailDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 调价报告单列表 -->
	<bean id="materialAcctChangePriceListImpl"
		class="cn.superion.materialAcct.stat.service.ChangePriceListImpl">
		<property name="materialChangePriceMasterDAO" ref="materialChangePriceMasterDAO" />
		<property name="materialChangePriceDetailDAO" ref="materialChangePriceDetailDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 出库汇总 -->
	<bean id="materialAcctDeliverStatImpl" class="cn.superion.materialAcct.stat.service.DeliverStatImpl">
		<property name="materialRdsAcctMasterDAO" ref="materialRdsAcctMasterDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 入库报告单列表 -->
	<bean id="materialAcctReceiveListImpl" class="cn.superion.materialAcct.stat.service.ReceiveListImpl">
		<property name="materialRdsAcctMasterDAO" ref="materialRdsAcctMasterDAO" />
		<property name="materialRdsDetailDAO" ref="materialRdsDetailDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 入库汇总 -->
	<bean id="materialAcctReceiveStatImpl" class="cn.superion.materialAcct.stat.service.ReceiveStatImpl">
		<property name="materialRdsAcctMasterDAO" ref="materialRdsAcctMasterDAO" />
		<flex:remoting-destination />
	</bean>
	<!-- 病人使用材料-->
	<bean id="acctPatsMaterialStatImpl" class="cn.superion.materialAcct.stat.service.PatsMaterialStatImpl">
		<property name="vMaterialPatsDAO" ref="vMaterialPatsDAO"/>
		<flex:remoting-destination />
	</bean>
	<!-- 高值耗材现存量查询-->
	<bean id="acctValueStockStatImpl" class="cn.superion.materialAcct.stat.service.ValueStockStatImpl">
		<property name="materialCurrentStockDeptDAO" ref="materialCurrentStockDeptDAO"/>
		<flex:remoting-destination />
	</bean>
</beans>
